<template>
    <h1>Edition d'un contact</h1>

    <contact-form 
        :prop_nom="nom"
        :prop_prenom="prenom"
        :prop_email="email"
        :prop_telephone="telephone"
        @submit="onSubmit">
    </contact-form>

</template>

<script>

import { useRouter } from 'vue-router'
import { useStore } from 'vuex'
import { useQuasar } from 'quasar'
import { ref } from 'vue'
import ContactForm from 'components/ContactForm.vue';

export default ({

    components: {
        ContactForm 
     },

     props: ['id'],

    setup(props, context){
        const $q = useQuasar()
        const $store = useStore()
        const $router = useRouter()
        
        const nom = ref(null)
        const prenom = ref(null)
        const email = ref(null)
        const telephone = ref(null)


        let contact = $store.getters['contacts/getById'](props.id)
        //let contact = $store.contacts.state.contacts[props.id]
        nom.value = contact.nom
        prenom.value = contact.prenom
        email.value = contact.email
        telephone.value = contact.telephone

        

        const onSubmit = (msg) => {      

            $store.commit('contacts/updateContact', 
                    {
                    id: props.id, 
                    nom: msg.nom,
                    prenom: msg.prenom,
                    email: msg.email,
                    telephone: msg.telephone
                    }
            )
            
            $q.notify({
                color: 'green-4',
                textColor: 'white',
                icon: 'save',
                message: ''+ msg.prenom +' '+ msg.nom +' modifié avec succès'
            })

            $router.push("/")
        }

        return {nom, prenom, email, telephone, onSubmit}
    },

    
})
</script>
