<template>
    <h1>Contacts</h1>

        <div class="q-pa-md q-gutter-sm">
            <q-btn color="primary" label="Créer un nouveau contact" to="/Nouveau"/>
            <q-btn icon="warning" color="red" label="Effacer les contacts" @click="onClear"/>
        </div>
        
            <div class="q-pa-md">

            <q-markup-table>
                <thead>
                <tr>
                    <th class="text-left">Nom</th>
                    <th class="text-left">Prénom</th>
                    <th class="text-left">Email</th>
                    <th class="text-left">Téléphone</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr  v-for="(contact, index) in listeContacts" v-bind:key="index" >


                    <td class="text-left">{{ contact.nom }}</td>
                    <td class="text-left">{{ contact.prenom }}</td>
                    <td class="text-left">{{ contact.email }}</td>
                    <td class="text-left">{{ contact.telephone }}</td>
                    <td> <q-btn @click="onEdit(index)" >Editer</q-btn> </td>
                    <td> <q-btn @click="onDelete(index, contact.prenom, contact.nom)">Supprimer</q-btn> </td>
                </tr>
            </tbody>
            </q-markup-table>
            
        </div>
</template>

<script>
import {useQuasar} from 'quasar'
// import { ref } from 'vue'
import { useStore } from 'vuex'
import { useRouter } from 'vue-router'

export default ({
    setup(){
        const $q = useQuasar()
        const $store = useStore()
        const $router = useRouter()

        const onClear = () => {
             $q.notify({
                message: 'Voulez-vous vraiment effacer tous les contacts ?',
                color: 'red',
                actions: [
                    { label: 'Oui', color: 'white', handler: () => { $store.commit('contacts/clearAll') } },
                    { label: 'Non', color: 'white', handler: () => { } }
                ]
            })
        }

        const onDelete = (id, prenom, nom) =>{
            $q.notify({
                message: 'Voulez-vous vraiment effacer '+prenom+' '+nom+' ?',
                color: 'red',                 
                actions: [
                    { label: 'Oui', color: 'white', handler: () => { $store.commit('contacts/deleteContact', id) } },
                    { label: 'Non', color: 'white', handler: () => { } }
                ]
            })

        }

        const onEdit = (id) => {            
            $router.push({
                name: 'Editer',
                params: {
                    id: id
                }
            })
        }

        return {onClear, onDelete, onEdit}
    },

    computed: {
        listeContacts(){
            return this.$store.getters['contacts/getAll']
        }
    }
    
})
</script>

