<template>
    <h1>Ajout d'un contact</h1>

    <contact-form @submit="onSubmit"></contact-form>
        
</template>

<script>

import { useRouter } from 'vue-router'
import { useStore } from 'vuex'
import { useQuasar } from 'quasar'

import ContactForm from 'components/ContactForm.vue'

export default ({
    components: {
        ContactForm 
     },

    setup(){
        const $q = useQuasar()
        const $store = useStore()
        const $router = useRouter()
        
        const onSubmit = (msg) => {      
            console.log("onSubmit") 
            console.log(msg)
            $store.commit('contacts/addContact', {
                nom: msg.nom,
                prenom: msg.prenom,
                email: msg.email,
                telephone: msg.telephone
            })            
            
            $q.notify({
                color: 'green-4',
                textColor: 'white',
                icon: 'save',
                message: ''+ msg.prenom +' '+ msg.nom +' ajouté avec succès'
            })

            $router.push("/")
        }

        return {onSubmit}
    },

    
})
</script>
