<template>
    <div class="q-pa-md" style="max-width: 400px">

            <q-form            
            class="q-gutter-md"
            @submit="onSubmit" 
            @reset="onReset"
            >

            <q-input
                filled
                v-model="nom"
                label="Nom"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Le nom est obligatoire' ]"
            />
            
            <q-input    
                filled
                v-model="prenom"
                label="Prénom"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Le prénom est obligatoire' ]"
            />

            <q-input    
                filled
                v-model="email"
                label="Adresse mail"
                lazy-rules
            />
            
            <q-input    
                filled
                v-model="telephone"
                label="Téléphone"
                lazy-rules           
            />

            
            <div>
                <q-btn label="Envoyer" type="submit" color="primary"/>
                <q-btn label="Reinitialiser" type="reset" color="primary" flat class="q-ml-sm" />
            </div>

            </q-form>
        </div>    
</template>

<script>
import { ref } from 'vue'

export default ({

    props: ['prop_nom', 'prop_prenom', 'prop_email', 'prop_telephone'],

    setup(props, context){
        const nom = ref(props.prop_nom)
        const prenom = ref(props.prop_prenom)
        const email = ref(props.prop_email)
        const telephone = ref(props.prop_telephone)

        const onSubmit = () => {                    
            context.emit('submit', {
                nom: nom.value,
                prenom: prenom.value,
                email: email.value,
                telephone: telephone.value
            })
        }

        const onReset = () => {
            nom.value = null
            prenom.value = null
            email.value = null
            telephone.value = null
        }

        return {nom, prenom, telephone, email, onSubmit, onReset}
    },
})
</script>